@media screen and (max-width: 4500px){
    footer ul li.logo{
        width: 400px;
        height: 75px;
    }
    footer ul li .icon.email{
        width: 80px;
        height: 83px;
    }
    footer ul li .icon.house{
        width: 100px;
        height: 84px;
    }
}
@media screen and (max-width: 4000px){
    footer ul li.logo{
        width: 300px;
        height: 60px;
    }
    footer ul li .icon.email{
        width: 75px;
        height: 77px;
    }
    footer ul li .icon.house{
        width: 84px;
        height: 62px;
    }
}
@media screen and (max-width: 3500px){
    footer ul li.logo{
        width: 250px;
        height: 49px;
    }
    footer ul li .icon.email{
        width: 60px;
        height: 62px;
    }
    footer ul li .icon.house{
        width: 70px;
        height: 56px;
    }
}
@media screen and (max-width: 3000px){
    footer ul li .icon.email{
        width: 50px;
        height: 52px;
    }
    footer ul li .icon.house{
        width: 60px;
        height: 46px;
    }
}
@media screen and (max-width: 2500px){
    footer ul li .icon.email{
        width: 40px;
        height: 42px;
    }
    footer ul li .icon.house{
        width: 40px;
        height: 36px;
    }
    footer ul li.logo{
        width: 200px;
        height: 39px;
    }
}
@media screen and (max-width: 2000px){
    footer ul li .icon.email{
        width: 30px;
        height: 32px;
    }
    footer ul li .icon.house{
        width: 30px;
        height: 24px;
    }
    footer ul li.logo{
        width: 180px;
        height: 35px;
    }
}
@media screen and (max-width: 2000px){
    footer ul li .icon.email{
        width: 22px;
        height: 22px;
    }
    footer ul li .icon.house{
        width: 20px;
        height: 14px;
    }
    footer ul li.logo{
        width: 130px;
        height: 25px;
    }
}
@media screen and (max-width: 1024px){
    footer ul{
        flex-direction: column;
        align-items: center;
    }
    footer ul li{
        margin-top: 30px;
        border-right: none;
        width: 90%;
        display: flex;
        justify-content: center;
    }
}