@media screen and (max-width: 5500px){
    nav{
        height: 300px !important;
    }
}
@media screen and (max-width: 3500px){
    nav .menu li a:hover::after{
        border-width: 14px 14px 0
    }
}
@media screen and (max-width: 3800px){
    nav{
        height: 200px !important;
    }
    header .logo{
        width: 350px !important;
        height: 70px !important;
    }
}
@media screen and (max-width: 3300px){
    header .cardBtn{
        padding: 20px !important;
    }
}
@media screen and (max-width: 2900px){
    nav{
        height: 150px !important;
    }
    header .cardWrap{
        height: 70% !important;
    }
}
@media screen and (max-width: 2500px){
    header {
        padding-top: 25px;
    }
    nav .menu li a:hover::after{
        border-width: 10px 10px 0
    }
    header .logo{
        width: 270px !important;
        height: 50px !important;
    }
}
@media screen and (max-width: 2300px){
    nav{
        height: 115px !important;
    }
    header .cardWrap{
        height: 70% !important;
    }
}
@media screen and (max-width: 2100px){
    nav{
        border-width: 8px !important;
    }
}
@media screen and (max-width: 1800px){
    header .cardBtn{
        padding: 10px !important;
    }
    header .logo{
        width: 200px !important;
        height: 40px !important;
    }
}
@media screen and (max-width: 1620px){
    header .card h2::after{
        margin-top: 20px !important;
    }
    nav .menu li a:hover::after{
        border-width: 8px 8px 0
    }
}
@media screen and (max-width: 1400px){
    nav{
        height: 80px !important; 
    }
    header .logo{
        width: 120px !important;
        height: 22px !important;
    }
}
@media screen and (max-width: 1300px){
    nav .menu li a:hover::after{
        border-width: 6px 6px 0
    }
}
@media screen and (max-width: 1024px){
    header .card{
        width: 35% !important;
        padding: 15px 0 0 15px !important;
    }
    header .cardBtn{
        bottom: 20px !important; 
    }
}
@media screen and (max-width: 1024px){
    header .card{
        width: 35% !important;
        padding: 15px 0 0 15px !important;
    }
    header .cardBtn{
        bottom: 20px !important; 
    }
}
@media screen and (max-width: 768px){
    header .card{
        width: 40% !important;
    }
    header .cardBtn{
        left: 16px !important; 
    }
}
@media screen and (max-width: 600px){
    header nav .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #1f1f1f;
        flex-direction: column;
        z-index: 100;
        overflow: hidden;
    }
    header nav a.toggleBtn{
        display: block;
    }
    header nav{
        justify-content: space-between;
        padding: 0 2%;
    }
}
@media screen and (max-width: 500px){
    header{
        height: auto;
        min-height: 100vh;
    }
    header .cardWrap{
        position: static;
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }
    header .cardWrap .card{
        width: 100% !important;
        padding-bottom: 20px !important;
        height: auto !important;
    }
    header .cardWrap .card .cardBtn{
        position: static;
    } 
}
